.why-block {
    height: 640px;
    width: 100vw;
    background: linear-gradient(0deg,rgba(0,0,0,.02),rgba(0,0,0,.02)),#FFFFFF;
    padding: 100px 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.container {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    width: 75vw;
}

.left {
    height: 440px;
    min-width: 47vw;
    max-width: 50vw;
    background: linear-gradient(271.19deg,#307DF6 0%,#14BBBF 100%),#343434;
    border: none;
    border-radius: 40px;
    box-shadow: 0 16px 40px rgba(48,127,245,.08);
    margin-left: 250px;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.textH3 {
    color: white;
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 40px 0;
    text-align: center;
    line-height: 62px;
}

.control {
    display: flex;
    flex-direction: row;
}

.button {
    padding: 0 15px;
    width: 220px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    font-weight: 700; 
    background-color: rgba(255, 255, 255, 0.156);
    border-radius: 8px;
    line-height: 48px;
    cursor: pointer;
    margin: 10px 0; 
    color: white;
    text-decoration: none;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.24);
}

.textIcon {
    margin-right: 10px;
}

.text {
    color: White;
    font-weight: 700;
    margin: 25px;
}

.right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 440px;
    min-width: 27vw;
    max-width: 35vw;
    background-color: white;
    border: none;
    border-radius: 40px;
    box-shadow: 0 16px 40px rgba(48,127,245,.08);
    margin-left: 40px;
    margin-right: 100px;
    padding: 40px;
    box-sizing: border-box;
}

.textH3Right {
    line-height: 42px;
    font-size: 32px;
    font-weight: 700;
}

.textH4 {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px 0;
    line-height: 24px;
}

.pText {
    line-height: 24px;
    font-size: 16px;
}

.abtn {
    color: black;
    padding: 10px;
    margin: 30px 10px;
    text-align: center;
    font-size: 12px;
    background-color: rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.08);;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
}

.abtn:hover {
    background-color: rgba(0, 0, 0, 0.119);
}

.textH4::before {
    width: 6px;
    height: 25px;
    background-color: #307DF6;
    border-radius: 0px 5px 5px 0;
    content: '';
    display: inline-block;
    position: absolute;
    left: 0px; 
}

.container::after, .container::before {
    width: 300px;
    height: 300px;
    background: linear-gradient(271.19deg, #4145f9 0%,#307DF6 100%),#343434;
    opacity: 0.8;
    border-radius: 50%;
    content: '';
    object-fit: cover;
    display: inline-block;
    position: absolute;
    left: 88vw; 
    top: 490px;
    z-index: 0;
}

.container::before {
    width: 130px;
    height: 130px;
    background: linear-gradient(0deg,rgba(0,0,0,.02),rgba(0,0,0,.02)),#FFFFFF;
    
    left: 93vw; 
    top: 580px;
    z-index: 1;
}